.author-image{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-height: 25%;
    max-width: 25%;

    width: auto;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
}


