<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Serif%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"/>
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}">
    <link rel="stylesheet" th:href="@{/css/bookStyle.css}">
    <link rel="stylesheet" th:href="@{/css/formStyle.css}">
    <script th:src="@{/js/confirmDelete.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bookListStyle.css}">
    <script rel="script" th:src="@{/js/bookScript.js}" defer></script>
    <title th:if="${book != null}" th:text="${book.title}">Title</title>
</head>
<body style='font-family: "Noto Serif", "Noto Sans", sans-serif;'>
    <header class="flex container">
        <div class="flex items-center justify-start gap-9">
            <h2>Siw Books</h2>
            <a href="/home">Home</a>
            <a href="/book/all">Books</a>
            <a href="/author/all">Authors</a>
        </div>
        <div class="flex justify-end gap-9">
            <a th:if="${isLoggedIn}" class="profile-icon" href="/profile">
                <i class="fas fa-user-circle"></i>
            </a>
            <a th:if="${!isLoggedIn}" class="padding" href="/login">Login</a>
        </div>
    </header>
<div class="flex book-content justify-start">
    <div class="title" th:if="${book != null}">
        <h1 th:text="${book.title}">Book Name</h1>
        <p th:text="${'Released in ' + book.year}"> (Year)</p>
        <a th:each="author : ${book.authors}" th:href="@{'/author/details/' + ${author.id}}" th:text="${author.name + ' ' + author.surname + '  '}">Artist</a>
    </div>
    <div class="flex content-2">
        <div class="content-left">
            <img class="justify-start" th:if="${book != null and book.imageUrl != null}" th:src="${book.imageUrl}" alt="Book Image" style="width: 300px; height: auto; margin-right: 20px;">
            <div class="description">
                <h3>Description</h3>
                <p th:text="${book.description}">Book Description</p>
            </div>
            <div class="separator"></div>
                <div class="review" th:if="${hasReviewed && isLoggedIn && userReview != null}">
                    <h3>Your review</h3>
                    <div class="content-list-item-wrapper">
                    <div class="review margin-bottom content-list-item-link" style="border-bottom: 1px solid #ccc; padding: 1em; width: 100%">
                        <div class="review-user" style="color: #666" th:text="${userReview.user.name} + ' ' + ${userReview.user.surname}">User</div>
                        <div class="review-user" style="white-space: nowrap; font-size: 24px; font-weight: bold;" th:text="${userReview.title}">Title</div>
                        <div class="rating margin-bottom">
                            <span th:each="i: ${#numbers.sequence(1, 5)}">
                                <i class="fa star" th:classappend="${i <= userReview.rating} ? 'fa fa-star' : 'far fa-star'"></i>
                            </span>
                        </div>
                        <div class="review-description" th:text="${userReview.reviewDescription}">Description</div>
                    </div>
                        <a class="fas fa-pen" th:href="@{'/review/edit/' + ${userReview.id}}"></a>
                        <a th:data-id="${userReview.id}" th:data-title="${userReview.title}" onclick="return confirmDeleteReview(this.getAttribute('data-id'), this.getAttribute('data-title'))">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
            <form th:if="${!hasReviewed && isLoggedIn}" th:action="@{'/book/saveReview/' + ${book.id}}" method="post" style="width: 100%; max-width: 800px; margin-bottom: 20px;">
                <h3>Add your review</h3>
                <label>Title:</label>
                <div class="search-container">
                    <input class="search-bar" type="text" id="title" name="title" required>
                </div>
                <label>Rating:</label><br>
                <div id="stars">
                    <!-- Hidden input per il voto -->
                    <input type="hidden" id="rating" name="rating" value="0" required>

                    <!-- Stelle cliccabili -->
                    <i class="far fa-star star" data-value="1"></i>
                    <i class="far fa-star star" data-value="2"></i>
                    <i class="far fa-star star" data-value="3"></i>
                    <i class="far fa-star star" data-value="4"></i>
                    <i class="far fa-star star" data-value="5"></i>
                </div>
                    <label for="reviewDescription">Review:</label>
                    <div class="search-container textarea-container margin-bottom">
                        <textarea class="textarea-description" id="reviewDescription" style="width: 100%; max-width: 800px" name="reviewDescription" required></textarea>
                    </div>
                <button class="btn btn-primary" style="padding: 0.5em" type="submit">Save review</button>
            </form>
            <!--si potrebbe implementare la visione della recensione dell'utente attuale come prima recensione--><!-- FATTO-->
            <h3 th:if="${!#lists.isEmpty(reviews)}">Reviews</h3>
            <div class="review">
                <div class="content-list-item-wrapper" th:each="review : ${reviews}">
                <div class="review margin-bottom content-list-item-link" style="border-bottom: 1px solid #ccc; padding: 1em; width: 100%">
                    <div class="review-user" style="color: #666" th:text="${review.user.name} + ' ' + ${review.user.surname}">User</div>
                    <div class="review-user" style="white-space: nowrap; font-size: 24px; font-weight: bold;" th:text="${review.title}">Title</div>
                    <div class="rating margin-bottom">
                        <span th:each="i : ${#numbers.sequence(1, 5)}">
                            <i class="fa star" th:classappend="${i <= review.rating} ? 'fa fa-star' : 'far fa-star'"></i>
                        </span>
                    </div>
                    <div class="review-description" th:text="${review.reviewDescription}">Description</div>
                </div>
                <a th:if="${role == 'ADMIN'}" th:data-id="${review.id}" th:data-title="${review.title}" onclick="return confirmDeleteReview(this.getAttribute('data-id'), this.getAttribute('data-title'))">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </div>
        </div>
        <!-- Sezione destra: rating e pulsante -->
        <div class="content-right">
            <div class="rating-section">
                <!-- Rating medio -->
                <div class="average-rating" th:if="${book != null}">
                    <h3>Rating</h3>
                        <span th:each="i : ${#numbers.sequence(1, 5)}">
                            <i class="fa star" th:classappend="${i <= T(java.lang.Math).round(book.averageRating)} ? 'fa fa-star' : 'far fa-star'"></i>
                        </span>
                        <span th:text="${averageRating != null ? ' (' + averageRating + ')': 'N.D.'}">(N.D.)</span>
                </div>
            </div>
            <div class="add-to-favourites-section">
                <form th:if="${isLoggedIn}" th:action="@{'/book/details/' + ${book.id}}" method="post">
                    <input type="hidden" id="favourited" name="favourited" th:value="${favourited}"> <!-- Campo hidden -->
                    <button type="submit" id="addToFavourites">
                        <span style='font-family: "Noto Serif", "Noto Sans", sans-serif;' th:text="${favourited} ? 'Added to favourite' : 'Add to Favourites'"></span>
                        <i class="fa star" th:classappend="${favourited} ? 'fa fa-star checked' : 'far fa-star'"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>