<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>

    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Serif%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"/>
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}">
    <link rel="stylesheet" th:href="@{/css/formStyle.css}">
    <link rel="stylesheet" th:href="@{/css/bookStyle.css}">
    <script rel="script" th:src="@{/js/formScript.js}" defer></script>
    <title>Add new book</title>
</head>
<body style='font-family: "Noto Serif", "Noto Sans", sans-serif;'>
<header class="flex container">
    <div class="flex items-center justify-start gap-9">
        <h2>Siw Books</h2>
        <a href="/home">Home</a>
        <a href="/book/all">Books</a>
        <a href="/author/all">Authors</a>
    </div>
    <div class="flex justify-end gap-9">
        <a class="profile-icon" href="/profile">
            <i class="fas fa-user-circle"></i>
        </a>
    </div>
</header>
<div class="content flex flex-column" style="align-items: flex-start; width: 60%;">
    <div class="title">
        <h1 th:text="${book.id} != null ? 'Edit Book' : 'Add New Book'"></h1>
    </div>

    <form th:action="${book.id} != null ? @{/book/edit/{id}(id=${book.id})} : @{/book/new}" th:method="${book.id} != null ? 'post' : 'post'" th:object="${book}" enctype="multipart/form-data" style="width: 100%">
        <div class="form-group-row margin-bottom">
            <div class="form-group">
                <label for="title">Title:</label>
                <div class="search-container">
                    <input type="text" id="title" name="title" class="search-bar" th:value="${book.title}" th:placeholder="${book.title}" required placeholder="Insert book name">
                </div>
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <div class="search-container">
                    <input type="number" id="year" name="year" class="search-bar" value="" th:value="${book.year}" th:placeholder="${book.year}" required placeholder="Insert author year">
                </div>
            </div>
        </div>
        <div class="form-group margin-bottom" th:if="${book.id} == null">
            <label for="image">Image:</label>
            <div class="attach-image items-center">
                <label for="image">Select An Image</label>
                <i class="fas fa-check checkmark"></i>
                <input type="file" id="image" name="image" class="form-control" accept=".png, .jpg, .jpeg">
            </div>
        </div>
        <div class="form-group margin-bottom">
            <label for="description">Description:</label>
            <div class="search-container textarea-container">
                <textarea id="description" name="description" class="textarea-description" th:text="${book.description}" th:placeholder="${book.description}" required placeholder="Insert book description"></textarea>
            </div>
        </div>

        <!-- Checkbox per gli autori -->
        <div class="mb-3">
            <label class="form-label">Seleziona Artisti</label>

            <!-- Thymeleaf itera sugli autori -->
            <div th:each="author : ${authors}">
                <input type="checkbox" th:id="'author-' + ${author.id}"
                       th:name="authors[]" th:value="${author.id}">
                <label th:for="'author-' + ${author.id}" th:text="${author.name + ' ' + author.surname}"></label>
            </div>

            <!-- Messaggio se non ci sono autori -->
            <p th:if="${#lists.isEmpty(authors)}" class="text-danger">
                Nessun autore disponibile. Aggiungine qualcuno prima di creare un libro!
            </p>
        </div>


        <p>Can't find the author? You can add it <a th:href="@{/author/new}" style="text-decoration: underline;">here</a></p>

        <button type="submit" th:text="${book.id} != null ? 'Save Changes' : 'Add Book'" class="btn btn-primary"></button>
    </form>
</div>
</body>
</html>