<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Serif%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"/>
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}">
    <title>Siw Books</title>
</head>
<body style='font-family: "Noto Serif", "Noto Sans", sans-serif;'>
    <header class="flex container">
        <div class="flex items-center justify-start gap-9">
            <h2>Siw Books</h2>
            <a href="/home">Home</a>
            <a href="/book/all">Books</a>
            <a href="/author/all">Authors</a>
        </div>
        <div class="flex justify-end gap-9">
            <a th:if="${!isLoggedIn}" class="padding" href="/login">Login</a>
            <a th:if="${isLoggedIn}" class="profile-icon" href="/profile">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>
    </header>
    <div class="flex content">
        <div class="best-books">
            <h2>Most Liked Books</h2>
            <div class="book-gallery flex gap-4">
                <div class="book-item" th:each="book : ${mostLikedBooks}">
                    <a th:href="@{'/book/details/' + ${book.id}}">
                        <img th:src="${book.imageUrl}" alt="Book cover" class="book-image"/>
                    </a>
                    <a style="text-decoration: none; font-weight: bold; color:black; font-size: 1.2rem;" th:text="${book.title}" th:href="@{'/book/details/' + ${book.id}}">Titolo</a>
                    <p th:text="'Favorited by ' + ${book.users.size()} + ' users'">N Like to this Book</p>
                </div>
            </div>
        </div>
        <div class="top-authors">
            <h2>Top Authors</h2>
            <div class="book-gallery flex gap-4">
                <div class="author-item" th:each="author: ${topAuthors}">
                    <a class="circle-container" th:href="@{'/author/details/' + ${author.id}}">
                        <img th:src="${author.imageUrl}" th:href="@{'/author/details/' + ${author.id}}" alt="Author image" class="book-image"/>
                    </a>
                    <span style="text-decoration: none; font-weight: bold; color:black; font-size: 1.2rem;" th:text="${author.name + ' ' + author.surname}" th:href="@{'/author/' + ${author.id}}">Titolo</span>
                </div>
            </div>
        </div>
        <div class="new-books">
            <h2>New Releases</h2>
            <div class="book-gallery flex gap-4">
                <div class="book-item" th:each="book : ${newBooks}">
                    <a th:href="@{'/book/details/' + ${book.id}}">
                        <img th:src="${book.imageUrl}" alt="Book cover" class="book-image"/>
                    </a>
                    <a style="text-decoration: none; font-weight: bold; color:black; font-size: 1.2rem;" th:text="${book.title}" th:href="@{'/book/details/' + ${book.id}}">Titolo</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>