<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Serif%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"/>
    <link rel="stylesheet" href="/static/css/homeStyle.css">
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}">
    <title>Siw Books</title>
</head>
<body style='font-family: "Noto Serif", "Noto Sans", sans-serif;'>
    <header class="flex container">
        <div class="flex items-center justify-start gap-9">
            <h2>Siw Books</h2>
            <a href="/">Home</a>
            <a href="/books">Books</a>
            <a href="/authors">Authors</a>
        </div>
        <div class="flex justify-end gap-9">
            <a class="padding" href="/login">Login</a>
        </div>
    </header>
    <div class="flex content">
        <div class="search-container">
            <i class="fas fa-search"></i>
            <input
                placeholder="Search for books or authors"
                class="search-bar"
                value=""
            />
        </div>
        <div class="best-books">
            <h2>Most Liked Books</h2>
            <div class="book-gallery flex gap-4">
                <div class="book-item" th:each="book : ${mostLikedBooks}">
                    <img th:src="${book.imageUrl}" alt="Book cover" class="book-image"/>
                    <h4 th:text="${book.title}">Titolo</h4>
                    <p th:text="'Favorited by ' + ${book.users.size()} + ' users'">N Like to this Book</p>
                </div>
            </div>

        </div>
    </div>
</body>
</html>